GCP_PROJECT_ID=your-gcp-project
GCP_REGION=asia-southeast2
GCS_RAW_BUCKET=your-gcp-project-smart-logistics-raw
GCS_SILVER_BUCKET=your-gcp-project-smart-logistics-silver
GCS_TEMP_BUCKET=your-gcp-project-smart-logistics-temp
BQ_LOCATION=asia-southeast2
BQ_BRONZE_DATASET=smart_logistics_bronze
BQ_SILVER_DATASET=smart_logistics_silver
BQ_GOLD_DATASET=smart_logistics_gold
OPENAQ_API_KEY=replace_me
PUBSUB_OPENAQ_TOPIC=openaq-events
PUBSUB_DRIVER_TOPIC=driver-events
